html, body {
  height: 100%;
  text-align: center;
  color: white;
}

.jumbotron {
  background-color: #0095FF;
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
}

#input-number {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
}

.container {
  background-color: #7AD656;
  display:block;
  height: 55%;
  width: 100%;
}

#answer-block {
  display: none;
}

#answer-block h2 {
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  padding-left: 20%;
  color: white;
}


#answer-block h3 {
  font-size: 500%;
  font-weight: bold;
  color: white;
}
